<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859778165587-5pshu3oq9mgnjsk5cli34n7tfi1qo5fh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859778165587-5pshu3oq9mgnjsk5cli34n7tfi1qo5fh</string>
	<key>API_KEY</key>
	<string>AIzaSyDylwIwESPLcLFCCZbejEJLJmdux4rljr4</string>
	<key>GCM_SENDER_ID</key>
	<string>859778165587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dlive.middleUi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pard-test</string>
	<key>STORAGE_BUCKET</key>
	<string>pard-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859778165587:ios:668a62c422f08ec7938fa6</string>
</dict>
</plist>